# Xcode
DerivedData/
*.xcuserstate
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# Archives and reports
*.xcarchive
*.xccrashpoint
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Tooling
.pnpm-store/
node_modules/
supabase/.temp/

# Secrets
.env*
Secrets.xcconfig
